

#name {
}

#div_metric{
    margin-top: 5%;
}

#div_action{
    display: flex;
    justify-content: center;
    margin: 2% auto;
    background-color: aqua
}

button {
    display: block;
    margin: 0 1%;
    border: none;
    background-color: aqua
}

input {
    display: block;
    margin: 3% auto;
    
}

p {
    text-align: center;
}


li {
    list-style: none;
    
}


#box {
    background-color: red
}
